:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
